{% extends 'layout.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="container">
<table class="table">
<thead>
<tr>
<th>#</th><th>フックと見出し2</th>
<th>サジェスト</th>
</tr>
</thead>
<tbody>
<tr>
    <th scope="row">0</th>
    <td>フック文</td>
    <td>
    <table class="table">
    <tr>
<td>hoge</td>
    </tr>
    <tr>
<td>0</td>
    </tr>
    </td>
    </tr>
    </table>
    </td>
</tr>
    <tr>
    <th scope="row">1</th>
    <td>即日発行可能なおすすめのクレジットカードランキング！</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <th scope="row">2</th>
    <td>3営業日以内に発行可能なおすすめのクレジットカード3選！</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td>クレジットカード即日発行の流れとポイント</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <th scope="row">4</th>
    <td>即日発行できるクレジットカードに関するよくある質問</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <th scope="row">5</th>
    <td>まとめ</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <th scope="row">6</th>
    <td>関連記事</td>
    <td>
    <table class="table">
    <tr>
    <td>hoge</td>
    </tr>
    <tr>
    <td>0</td>
    </tr>
    </table>
    </td>
    </tr>
</tbody>
</table>
</div>
{% endblock %}
